<tr id="<%= expense.id %>">
  <td class="date">
    <div class="day"><%= expense.date.day %></div>
    <div class="month"><%= expense.date.strftime("%b") %></div>
  </td>
  <td>
    <div>
      <span class="type"><%= expense.expense_type %></span>
    </div>
    <div>
      <span class="concept"><%= expense.concept %></span>
    </div>
  </td>
  <td class="category text-right"><%= expense.category %></td>
  <td class="text-right" style="width: 170px;">
    <div class="amount"><%= number_to_currency(expense.amount) %></div>
    <div class="actions">
      <%= link_to edit_expense_path(expense), remote: true do %>
        <span class="glyphicon glyphicon-edit"></span> Editar
      <% end %>
      <%= link_to expense, method: :delete, remote: true, data: {confirm: '¿Está seguro que desea eliminar este gasto?'} do %>
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      <% end %>
  </td>
</tr>