<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Tipo de transacción <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <% @expense_types.each do |expense_type| %>
          <%= link_to "#{expense_type}", root_path, remote: true, class: 'list-group-item' %>
        <% end %>
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <% @categories.each do |category| %>
          <%= link_to "#{category}", root_path, remote: true, class: 'list-group-item' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= number_to_currency(@expenses.sum(:amount)) %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @expenses.count %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= number_to_currency(@expenses.average(:amount)) %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <%= link_to new_expense_path, remote: true, class: 'btn btn-success pull-left' do %>
            <span class="glyphicon glyphicon-plus"></span>New Expense
          <% end %>
          <h4 class="dropdown pull-right">
            <%= select_tag(:month_filter, options_for_select(((0..12).collect { |i| current = @time_now.advance(months:-i); ["#{Date::MONTHNAMES[current.month]} #{current.year}", @time_now.month-i ] })), class: 'dropdown-toggle btn btn-link') 
            %>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <%= render "row", expense: expense %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
